In [179]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [180]:
# reading data from 'diabetes_train_datasets.csv' file....

diabetes = pd.read_csv('diabetes_train_datasets.csv')

In [181]:
diabetes.shape

(331, 11)

In [182]:
diabetes.columns

Index(['# age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'Y'], dtype='object')

In [183]:
diabetes.describe()

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
count,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,-0.000214,-0.000293,0.000053,-0.001045,-0.001423,-0.001220,0.000440,-0.001473,-0.001594,0.000099,149.722054
std,0.047207,0.047618,0.048627,0.047621,0.047371,0.046936,0.047303,0.046591,0.048088,0.047263,76.796907
min,-0.107226,-0.044642,-0.090275,-0.102071,-0.126781,-0.115613,-0.102307,-0.076395,-0.126097,-0.137767,25.000000
25%,-0.034575,-0.044642,-0.035307,-0.036656,-0.035968,-0.029967,-0.032356,-0.039493,-0.035817,-0.034215,84.000000
50%,0.005383,-0.044642,-0.008362,-0.005671,-0.004321,-0.004445,-0.006584,-0.002592,-0.005145,-0.001078,138.000000
75%,0.038076,0.050680,0.030979,0.032775,0.027326,0.028905,0.026550,0.034309,0.032124,0.027917,202.000000
max,0.110727,0.050680,0.170555,0.132044,0.153914,0.198788,0.181179,0.185234,0.133599,0.135612,346.000000

In [184]:
df = pd.DataFrame(diabetes)

In [185]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(df.iloc[:, 0:10], df.iloc[:,10], test_size = 0.25, random_state=1)

In [186]:
from sklearn.linear_model import LinearRegression

In [187]:
alg_diabetes = LinearRegression()
alg_diabetes.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [188]:
x_train.shape, x_test.shape, y_train.shape,y_test.shape

((248, 10), (83, 10), (248,), (83,))

In [189]:
alg_diabetes.coef_ , alg_diabetes.intercept_

(array([ -33.82407182, -193.4947099 ,  632.60072858,  317.67487644,
        -166.27057249,  -42.59605962, -171.79146984,   64.30115091,
         489.32227608,   50.93226399]), 153.84732963086935)

In [190]:
# reading test data from 'diabetes_test_datasets.csv' file......

diabetes2 = pd.read_csv('diabetes_test_datasets.csv')

In [191]:
diabetes2.shape
diabetes2.columns

Index(['0.02354575262934580082', '0.05068011873981870252',
       '-0.03746250427835440266', '-0.04698505887976939938',
       '-0.09100589560328480043', '-0.07553006287033779687',
       '-0.03235593223976569732', '-0.03949338287409189657',
       '-0.03075120986455629965', '-0.01350401824497050006'],
      dtype='object')

In [192]:
df2 = pd.DataFrame(diabetes2)

In [193]:
y_pred = alg_diabetes.predict(x_test)

In [194]:
training_score = alg_diabetes.score(x_train,y_train)
testing_score = alg_diabetes.score(x_test,y_test)
training_score, testing_score

(0.502021605918837, 0.4412073269865211)